@page "/chat"
@rendermode InteractiveServer
<PageTitle>Chat</PageTitle>

<Card>
    <CardHeader>Chat History</CardHeader>
    <CardBody TextAlignment="TextAlignment.Justified">
        <Div Overflow="Overflow.Auto" Padding="Padding.Is3" Margin="Margin.Is3.FromBottom.Is0.FromBottom.OnDesktop.Is3.FromEnd.OnDesktop" Background="Background.Light" Style="max-height: 400px;">
            @((MarkupString)@responseToDisplay)
        </Div>
    </CardBody>
</Card>
<br />
<label for="systemSelect" class="form-label">Generation context</label>
<br />
<select data-mdb-select-init @onchange=@SystemSelectionChanged id="systemSelect">
    <option value="1">Brief Response</option>
    <option value="2">Bullet points to blog</option>
    <option value="3">Friendly </option>
    <option value="4">Informational Blog</option>
    <option value="5">Informational Email</option>
    <option value="6">Informational Paragraph</option>
    <option value="7">Professional Blog</option>
    <option value="8">Professional Email</option>
    <option value="9">Professional Paragraph</option>
    <option value="10">Rephrase </option>
    <option value="11">Research</option>
    <option value="12">Shorten</option>
</select>
<br />
@if (!string.IsNullOrEmpty(processingMsg))
{

    <br />
    <input class="form-control" type="text" value="@processingMsg" aria-label="readonly input example" readonly>
}

<br />
<textarea class="form-control" rows="9" @bind=@UserInput />
<br />
@if (disableSubmit == false)
{
    <Button Color="Color.Success" Clicked="@OnSubmitClick">Submit</Button>
}




