@inherits LayoutComponentBase

<div class="fixed-top">
    <NavBar />
</div>
<div class="p-2">
    <div class="m-5">
        <br />
        @Body
    </div>
    <div class="fixed-bottom">
        <footer class="blockquote-footer">&copy; <cite title="Source Title"> Sridhar Sathya 2022- @GetCurrentYear() </cite></footer>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    private string? currentYear;
    private string GetCurrentYear()
    {
        if (string.IsNullOrWhiteSpace(currentYear))
        {
            currentYear = DateTime.Now.Year.ToString();
        }
        return currentYear;
    }
}
