@inherits LayoutComponentBase

<div class="fixed-top">
    <NavBar />
</div>
<div class="p-2">
    <div class="m-5">
        <br />
        @Body
    </div>
    <div class="fixed-bottom">
        <footer class="blockquote-footer">&copy; <cite title="Source Title"> Sridhar Sathya 2022- <script>document.write(/\d{4}/.exec(Date())[0])</script></cite></footer>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
